/*#header {
	display: flex;
	height: 100%;
	background: url('../img/home.jpg') center center no-repeat;
	background-size: cover;
	margin-top: 80px;
	justify-content: center;
	align-items: center;
}*/

#intro.section {
  position: relative;
  background: url('../img/home.jpg') center center no-repeat;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.headline {
	display: flex;
	justify-content: center;
	color: white;
	text-align: center;
	margin-left: 20%;
	margin-right: 20%;
}

img.headline {
  width: 300px;
  vertical-align: middle;
  margin: 0 auto;
}

.transbox {
	height: 6em;
	padding-top: 2em;
	opacity: 0.2;
	margin-left: 20%;
	margin-right: 20%;
	background: black;
	border: 1px solid white;
	border-radius: 25px;
}

h3.onTop {
	position: relative;
	top: -5.2em;
	bottom: 5.2em;
}

a.card {
}

/*ANIMATIONS*/

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

/*MEDIA QUERIES*/


@media (max-width: 768px) {

/*.headline {
  font-size:95%;
  display: flex;
  justify-content: center;
  color: white;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}*/

img.headline {
  vertical-align: middle;
  margin: 0 auto;
}

h1.headline {
  font-size: 95%;
}

h3.headline {
  font-size: 95%;
}

h4.headline {
  font-size: 95%;
}
.transbox {
  display: none;
}

.navbar-brand {
  display: none;
}

}

@media (max-width: 576px) {
h3.headline {
  display: none;
}

}