#header {
	display: flex;
	height: 100%;
	background: url('../img/home.jpg') center center no-repeat;
	background-size: cover;
	margin-top: 80px;
	justify-content: center;
	align-items: center;
}

.headline {
	display: flex;
	justify-content: center;
	color: white;
	text-align: center;
	margin-left: 20%;
	margin-right: 20%;
}

img.headline {
	margin-left: 40%;
	margin-right: 40%;
}

.transbox {
	height: 6em;
	padding-top: 2em;
	opacity: 0.2;
	margin-left: 20%;
	margin-right: 20%;
	background: black;
	border: 1px solid white;
	border-radius: 25px;
}

h3.onTop {
	position: relative;
	top: -5.2em;
	bottom: 5.2em;
}

/*ANIMATIONS*/

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}